     
      <%= form_for @author, {remote: true, multipart: true} do |f|%>

        <%if alert.present?%>
              <div class="alert alert-danger" >

                <ul>
                    <%@author.errors.full_messages.each do |msg|%>
                      <li><span></span> <%=msg%></li>
                    <%end%>
               </ul>
              
                <button type="button" class="close"  aria-label="close"   >
                  <span aria-hidden="true" onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>x</span>
                </button>
              <%= flash.alert %>
             </div> 
    
        <%end%>

        
    <div class="form-group">
      <h4 class="control-label">Registro De Autores:</h4>
    </div>
   
            <div  class="item form-group <%= @author.errors[:nombre].any? ? ' has-error has-feedback' : '' %>">
              <%= f.label :nombre, "Nombre de Categoría: " %>
              
              <div  class="input-group" >
                <%= f.text_field :nombre, {:class=> "form-control #{input_error_class(@author, :nombre)}",:placeholder=>"Introduzca Nombre..."} %>     
                <%error_message(@author, :nombre)%>
             

              </div>
            </div>


            <div class="item form-group<%= @author.errors[:country].any? ? ' has-error has-feedback' : '' %>">
                  <%= f.label :country, "Pais: " %>
                  <div class="input-group">
                      <%= collection_select(:author, :country_id, @paises, :id, :pais, {:prompt => 'Seleccione un pais'}, { :class=> "form-control #{input_error_class(@author, :country)}" })%>
                      <%error_message(@author, :country)%>
                  </div>
            </div>

             <div  class="item form-group <%= @author.errors[:idioma].any? ? ' has-error has-feedback' : '' %>">
              <%= f.label :idioma, "Idioma: " %>
              
              <div  class="input-group" >
                <%= f.text_field :idioma, {:class=> "form-control #{input_error_class(@author, :idioma)}",:placeholder=>"Introduzca el idioma..."} %>     
                <%error_message(@author, :idioma)%>
              

              </div>
            </div>

              <div  class="item form-group <%= @author.errors[:gat].any? ? ' has-error has-feedback' : '' %>">
              <%= f.label :gat, "Ganacias Anuales $$ :" %>
              
              <div  class="input-group" >
                <%= f.text_field :gat, {:class=> "form-control #{input_error_class(@author, :gat)}",:placeholder=>"Introduzca ganancias..."} %>     
                <%error_message(@author, :gat)%>
              

              </div>
            </div>
            

            <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <%= f.submit @author.new_record? ? "Crear Registro" : "Actualizar Registro", :class => "btn btn-success"%>
            </div> 
 


<%end %>



