$('#modalAutores').modal('toggle');
$('#autor_<%= @author.id %>').replaceWith(
    '<tr id="autor_<%= @author.id %>" ><td><%= @author.nombre %></td><td><%= @author.country != nil ? @author.country.pais : "No tiene categoria" %></td><td><%=@author.idioma%></td><td><span>$</span><%=@author.gat%></td><td><%= link_to 'editar', edit_author_path(@author), html_options = {class: "btn btn-info btn-xs", remote: true} %> <%= link_to "Borrar", @author, remote: true, method: :delete, data: { confirm: "¿Borrar autor: #{@author.nombre}?"}, class: "btn btn-danger btn-xs" %></td></tr>'
);
